.project-card {
  display: grid;
  place-content: center;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
  margin: 0 4rem;
}

.project-card.visuals {
  grid-template-columns: 1fr;
}

.project-card > a {
  text-decoration: none;
  color: var(--black);
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.project-card > img {
  width: 100%;
  max-width: 400px;
  aspect-ratio: 2/1.5;
  border: 1px solid gray;
  filter: grayscale(60%) drop-shadow(0 0);
  transition: filter 400ms ease-in-out;
}

.project-card:hover > img {
  filter: grayscale(0%) drop-shadow(5px 5px);
}

.project-card h3 {
  font-weight: 500;
}
