.main-page {
  display: flex;
  flex-direction: column;
  padding: 2rem;
  background-color: var(--light-gray);
  min-height: 200vh;
  width: fit-content;
  border-left: 3px solid var(--black);
  gap: 4rem;
  width: 80vw;
  max-width: 1800px;
}

.projects-wrapper {
  display: flex;
  flex-direction: column;
  gap: 4rem;
}

.projects-wrapper.visuals {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.main-page h2 {
  margin: 0;
  font-weight: 500;
}
