:root {
  --black: rgb(11, 11, 11);
  --white: rgb(249, 249, 249);
  --light-gray: rgb(239, 239, 239);
  --pastel-pink: rgb(255, 242, 244);
  --pastel-orange: rgb(255, 251, 243);
  --pastel-green: rgb(236, 255, 236);
  --nav-radius: 25px;
}

* {
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  padding: 0.5rem 2rem;
  background-color: var(--white);
  display: grid;
  place-items: center;
  font-size: 20px;
}
