:root {
  --black: rgb(11, 11, 11);
  --white: rgb(249, 249, 249);
  --light-gray: rgb(244, 244, 244);
  --nav-radius: 25px;
}

* {
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  padding: 2rem;
  background-color: var(--white);
  display: grid;
  place-items: center;
  font-size: 20px;
}
