.nav-container {
  display: flex;
  align-items: center;
  width: fit-content;
  height: fit-content;
  border-bottom: 3px solid var(--light-gray);
  writing-mode: sideways-rl;
}
.nav-container ul {
  display: flex;
  padding: 0;
  margin: 0;
}

.nav-container li {
  list-style: none;
  padding: 1rem 0.5rem;
  border: 1px solid rgb(196, 196, 196);
  border: 1px solid rgb(196, 196, 196);
}

.nav-container li:first-child {
  border-top-right-radius: 25px;
}

.nav-container li:last-child {
  border-bottom-right-radius: 25px;
}
