.nav-container {
  display: flex;
  align-items: center;
  width: fit-content;
  height: fit-content;
  border-bottom: 3px solid var(--light-gray);
}
.nav-container ul {
  display: flex;
  padding: 0;
  margin: 0;
}

.nav-container li {
  width: 10rem;
  text-align: center;
  list-style: none;
  padding: 1rem 0.5rem;
  border: 1px solid rgb(196, 196, 196);
  border: 1px solid rgb(196, 196, 196);
  cursor: pointer;
  transition: 200ms all ease-in;
  background-color: var(--light-gray);
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
}

.nav-container li.active {
  background-color: black;
  color: white;
}
